In [1]:
pip install numpy

Requirement already satisfied: numpy in /opt/homebrew/Cellar/jupyterlab/4.4.1_1/libexec/lib/python3.13/site-packages (2.2.5)

[notice] A new release of pip is available: 25.0 -> 25.1.1
[notice] To update, run: /opt/homebrew/Cellar/jupyterlab/4.4.1_1/libexec/bin/python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install pandas

Requirement already satisfied: pandas in /opt/homebrew/Cellar/jupyterlab/4.4.1_1/libexec/lib/python3.13/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /opt/homebrew/Cellar/jupyterlab/4.4.1_1/libexec/lib/python3.13/site-packages (from pandas) (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/homebrew/Cellar/jupyterlab/4.4.1_1/libexec/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/Cellar/jupyterlab/4.4.1_1/libexec/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/homebrew/Cellar/jupyterlab/4.4.1_1/libexec/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /opt/homebrew/Cellar/jupyterlab/4.4.1_1/libexec/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.0 -> 25.1.1
[notice] To update, run: /opt/homebrew/Cellar/jupyterlab/4.4.1_1/libexec/bin/python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install -e ./electre_library

Obtaining file:///Users/mrezkys/Kampus/SPK/electre_library
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy>=1.20.0 in /opt/homebrew/Cellar/jupyterlab/4.4.1_1/libexec/lib/python3.13/site-packages (from electre_dss==0.1.0) (2.2.5)
Installing collected packages: electre_dss
  Attempting uninstall: electre_dss
    Found existing installation: electre_dss 0.1.0
    Uninstalling electre_dss-0.1.0:
      Successfully uninstalled electre_dss-0.1.0
  DEPRECATION: Legacy editable install of electre_dss==0.1.0 from file:///Users/mrezkys/Kampus/SPK/electre_library (setup.py develop) is deprecated. pip 25.1 will enforce this behaviour change. A possible replacement is to add a pyproject.toml or enable --use-pep517, and use setuptools >= 64. If the resulting installation is not behaving as expected, try using --config-settings editable_mode=compat. Please consult the setuptools documentation for more information. Discussion can be found at https://github.com/pypa/pip/issues/11457
  Running setup.py develop for electre_dss
Successfully installed electre_dss-0.1.0

[notice] A new release of pip is available: 25.0 -> 25.1.1
[notice] To update, run: /opt/homebrew/Cellar/jupyterlab/4.4.1_1/libexec/bin/python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [4]:
import numpy as np
import pandas as pd # Optional: For nice table display
from electre_dss import ElectreSolver

In [5]:
# 1. Define the Data

decision_matrix = np.array([
    [86.33, 86.33, 87.60, 87.33], # A1
    [84.33,	85,	87, 89], # A2
    [85, 85.6, 86.6, 87.6], # A3
    [84.33, 83.6, 87.6, 87.33], # A4
    [85.33, 85.33, 86.33, 87], # A5
])

weights = np.array([0.2, 0.15, 0.30, 0.35])


criteria_types = ['benefit', 'benefit', 'benefit', 'benefit']

alternative_names = ['Saufan Ridho', 'Christian Hadi Chandra', 'Alya Dwi Pangesti', 'Dzakanov Inshoofi', 'Sucitasari Rahmadani']
criteria_names = ['C1(Komitment)', 'C2(Kepribadian)', 'C3(Cara Mengajar)', 'C4(Pemahaman Materi)']

print("--- Input Data ---")
print("Decision Matrix:")
display(pd.DataFrame(decision_matrix, index=alternative_names, columns=criteria_names))
print(f"\nWeights: {weights}")
print(f"Criteria Types: {criteria_types}")

--- Input Data ---
Decision Matrix:

,C1(Komitment),C2(Kepribadian),C3(Cara Mengajar),C4(Pemahaman Materi)
Saufan Ridho,86.33,86.33,87.60,87.33
Christian Hadi Chandra,84.33,85.00,87.00,89.00
Alya Dwi Pangesti,85.00,85.60,86.60,87.60
Dzakanov Inshoofi,84.33,83.60,87.60,87.33
Sucitasari Rahmadani,85.33,85.33,86.33,87.00

Weights: [0.2  0.15 0.3  0.35]
Criteria Types: ['benefit', 'benefit', 'benefit', 'benefit']

In [6]:
# 2. Initialize and run the solver
print("\n--- Running Solver ---")
solver = ElectreSolver(
    decision_matrix=decision_matrix,
    weights=weights,
    criteria_types=criteria_types,
    alternative_names=alternative_names,
    criteria_names=criteria_names
)

solver.solve() # This performs all calculations

--- Running Solver ---

In [7]:
# 3. Get and print the final ranking
ranking = solver.get_ranking()
print("\n------ FINAL RANKING ------")
for i, name in enumerate(ranking):
    print(f"{i+1}. {name}")

    // a1 a4
    // a2
    // a3
    // a5

------ FINAL RANKING ------
1. Christian Hadi Chandra
2. Saufan Ridho
3. Dzakanov Inshoofi
4. Alya Dwi Pangesti
5. Sucitasari Rahmadani

In [8]:
# 4. Display detailed intermediate results for verification
print("\n------ DETAILED STEP-BY-STEP RESULTS ------")
results = solver.get_intermediate_results()
alternative_names = solver.alternative_names # Get names from solver
criteria_names = solver.criteria_names     # Get names from solver

# Step 1: Normalization (Euclidean)
print("\nStep 1: Normalized Decision Matrix (R)")
display(pd.DataFrame(results['raw_normalized_matrix'], index=alternative_names, columns=criteria_names).round(3))

# Step 2: Weighted Normalization
print("\nStep 2: Weighted Normalized Matrix (V)")
display(pd.DataFrame(results['weighted_matrix'], index=alternative_names, columns=criteria_names).round(3))

# Step 3 & 4: Concordance/Discordance Sets & Indices
print("\nSteps 3 & 4: Concordance and Discordance Analysis")
# Ensure global max diff is available and formatted correctly
global_max_diff_val = results['discordance_global_max_diff']
print(f"Global Max Difference for Discordance Denominator: {global_max_diff_val:.2f}")

for k in range(solver.num_alternatives):
    for l in range(solver.num_alternatives):
        if k == l: continue
        k_name = alternative_names[k]
        l_name = alternative_names[l]
        pair = (k, l) # Use integer indices for dict keys

        print(f'\n--- Pair ({k_name} vs {l_name}) ---')
        
        # Concordance
        # Use .get(pair, []) for safety if a pair somehow wasn't calculated
        conc_set = results['concordance_sets'].get(pair, []) 
        conc_index = results['concordance_matrix'][k, l]
        # Format set output nicely
        conc_set_str = ', '.join(conc_set) if conc_set else 'None' 
        print(f"  Concordance Set C({k_name},{l_name}): {{ {conc_set_str} }}")
        print(f"  Concordance Index C_{k+1},{l+1}: {conc_index:.1f}") # Match report format (1 decimal usually)

        # Discordance
        disc_set = results['discordance_sets'].get(pair, [])
        # Get max diff within the set for this pair
        disc_max_diff = results['discordance_max_diffs'].get(pair, 0.0) 
        disc_index = results['discordance_matrix'][k, l]
        disc_set_str = ', '.join(disc_set) if disc_set else 'None'
        print(f"  Discordance Set D({k_name},{l_name}): {{ {disc_set_str} }}")
        print(f"  Max Difference in D({k_name},{l_name}): {disc_max_diff:.2f}")
        # Show the calculation clearly
        print(f"  Discordance Index d_{k+1},{l+1}: ({disc_max_diff:.2f} / {global_max_diff_val:.2f}) = {disc_index:.2f}")

# Step 5: Thresholds
print("\nStep 5: Threshold Calculation")
c_threshold = results['concordance_threshold']
d_threshold = results['discordance_threshold']
print(f"  Concordance Threshold (c) = Sum(C_kl) / (m*(m-1)) = {np.sum(results['concordance_matrix']):.1f} / {solver.num_alternatives * (solver.num_alternatives - 1)} = {c_threshold:.2f}")
print(f"  Discordance Threshold (d) = Sum(d_kl) / (m*(m-1)) = {np.sum(results['discordance_matrix']):.2f} / {solver.num_alternatives * (solver.num_alternatives - 1)} = {d_threshold:.4f}")

# Step 6: Dominance Matrices
print("\nStep 6: Dominance Matrices")
print(f"  Concordance Dominance Matrix (F): C_kl >= {c_threshold:.2f}")
display(pd.DataFrame(results['concordance_dominance_matrix'], index=alternative_names, columns=alternative_names))
print(f"  Discordance Dominance Matrix (G): d_kl <= {d_threshold:.4f}")
display(pd.DataFrame(results['discordance_dominance_matrix'], index=alternative_names, columns=alternative_names))

# Step 7: Aggregate Dominance Matrix
print("\nStep 7: Aggregate Dominance Matrix (E) = F * G")
display(pd.DataFrame(results['aggregate_dominance_matrix'], index=alternative_names, columns=alternative_names))

# Step 8: Final Ranking (derived from E)
print("\nStep 8: Final Ranking (interpreting E)")
ranking = solver.get_ranking() # Get ranking calculated by the solver
# Explanation based on the simple net score used in _determine_ranking
print("  (Ranking based on net dominance score: sum(row E) - sum(col E))") 
for i, name in enumerate(ranking):
    print(f"  {i+1}. {name}")

------ DETAILED STEP-BY-STEP RESULTS ------

Step 1: Normalized Decision Matrix (R)

,C1(Komitment),C2(Kepribadian),C3(Cara Mengajar),C4(Pemahaman Materi)
Saufan Ridho,0.454,0.453,0.450,0.446
Christian Hadi Chandra,0.443,0.446,0.447,0.454
Alya Dwi Pangesti,0.447,0.449,0.445,0.447
Dzakanov Inshoofi,0.443,0.439,0.450,0.446
Sucitasari Rahmadani,0.449,0.448,0.444,0.444

Step 2: Weighted Normalized Matrix (V)

,C1(Komitment),C2(Kepribadian),C3(Cara Mengajar),C4(Pemahaman Materi)
Saufan Ridho,0.091,0.068,0.135,0.156
Christian Hadi Chandra,0.089,0.067,0.134,0.159
Alya Dwi Pangesti,0.089,0.067,0.134,0.156
Dzakanov Inshoofi,0.089,0.066,0.135,0.156
Sucitasari Rahmadani,0.090,0.067,0.133,0.155

Steps 3 & 4: Concordance and Discordance Analysis
Global Max Difference for Discordance Denominator: 0.004

--- Pair (Saufan Ridho vs Christian Hadi Chandra) ---
  Concordance Set C(Saufan Ridho,Christian Hadi Chandra): { C1(Komitment), C2(Kepribadian), C3(Cara Mengajar) }
  Concordance Index C_1,2: 0.6
  Discordance Set D(Saufan Ridho,Christian Hadi Chandra): { C4(Pemahaman Materi) }
  Max Difference in D(Saufan Ridho,Christian Hadi Chandra): 0.003
  Discordance Index d_1,2: (0.003 / 0.004) = 0.835

--- Pair (Saufan Ridho vs Alya Dwi Pangesti) ---
  Concordance Set C(Saufan Ridho,Alya Dwi Pangesti): { C1(Komitment), C2(Kepribadian), C3(Cara Mengajar) }
  Concordance Index C_1,3: 0.6
  Discordance Set D(Saufan Ridho,Alya Dwi Pangesti): { C4(Pemahaman Materi) }
  Max Difference in D(Saufan Ridho,Alya Dwi Pangesti): 0.000
  Discordance Index d_1,3: (0.000 / 0.004) = 0.135

--- Pair (Saufan Ridho vs Dzakanov Inshoofi) ---
  Concordance Set C(Saufan Ridho,Dzakanov Inshoofi): { C1(Komitment), C2(Kepribadian), C3(Cara Mengajar), C4(Pemahaman Materi) }
  Concordance Index C_1,4: 1.0
  Discordance Set D(Saufan Ridho,Dzakanov Inshoofi): { None }
  Max Difference in D(Saufan Ridho,Dzakanov Inshoofi): 0.000
  Discordance Index d_1,4: (0.000 / 0.004) = 0.000

--- Pair (Saufan Ridho vs Sucitasari Rahmadani) ---
  Concordance Set C(Saufan Ridho,Sucitasari Rahmadani): { C1(Komitment), C2(Kepribadian), C3(Cara Mengajar), C4(Pemahaman Materi) }
  Concordance Index C_1,5: 1.0
  Discordance Set D(Saufan Ridho,Sucitasari Rahmadani): { None }
  Max Difference in D(Saufan Ridho,Sucitasari Rahmadani): 0.000
  Discordance Index d_1,5: (0.000 / 0.004) = 0.000

--- Pair (Christian Hadi Chandra vs Saufan Ridho) ---
  Concordance Set C(Christian Hadi Chandra,Saufan Ridho): { C4(Pemahaman Materi) }
  Concordance Index C_2,1: 0.3
  Discordance Set D(Christian Hadi Chandra,Saufan Ridho): { C1(Komitment), C2(Kepribadian), C3(Cara Mengajar) }
  Max Difference in D(Christian Hadi Chandra,Saufan Ridho): 0.002
  Discordance Index d_2,1: (0.002 / 0.004) = 0.589

--- Pair (Christian Hadi Chandra vs Alya Dwi Pangesti) ---
  Concordance Set C(Christian Hadi Chandra,Alya Dwi Pangesti): { C3(Cara Mengajar), C4(Pemahaman Materi) }
  Concordance Index C_2,3: 0.6
  Discordance Set D(Christian Hadi Chandra,Alya Dwi Pangesti): { C1(Komitment), C2(Kepribadian) }
  Max Difference in D(Christian Hadi Chandra,Alya Dwi Pangesti): 0.001
  Discordance Index d_2,3: (0.001 / 0.004) = 0.197

--- Pair (Christian Hadi Chandra vs Dzakanov Inshoofi) ---
  Concordance Set C(Christian Hadi Chandra,Dzakanov Inshoofi): { C1(Komitment), C2(Kepribadian), C4(Pemahaman Materi) }
  Concordance Index C_2,4: 0.7
  Discordance Set D(Christian Hadi Chandra,Dzakanov Inshoofi): { C3(Cara Mengajar) }
  Max Difference in D(Christian Hadi Chandra,Dzakanov Inshoofi): 0.001
  Discordance Index d_2,4: (0.001 / 0.004) = 0.259

--- Pair (Christian Hadi Chandra vs Sucitasari Rahmadani) ---
  Concordance Set C(Christian Hadi Chandra,Sucitasari Rahmadani): { C3(Cara Mengajar), C4(Pemahaman Materi) }
  Concordance Index C_2,5: 0.6
  Discordance Set D(Christian Hadi Chandra,Sucitasari Rahmadani): { C1(Komitment), C2(Kepribadian) }
  Max Difference in D(Christian Hadi Chandra,Sucitasari Rahmadani): 0.001
  Discordance Index d_2,5: (0.001 / 0.004) = 0.294

--- Pair (Alya Dwi Pangesti vs Saufan Ridho) ---
  Concordance Set C(Alya Dwi Pangesti,Saufan Ridho): { C4(Pemahaman Materi) }
  Concordance Index C_3,1: 0.3
  Discordance Set D(Alya Dwi Pangesti,Saufan Ridho): { C1(Komitment), C2(Kepribadian), C3(Cara Mengajar) }
  Max Difference in D(Alya Dwi Pangesti,Saufan Ridho): 0.002
  Discordance Index d_3,1: (0.002 / 0.004) = 0.432

--- Pair (Alya Dwi Pangesti vs Christian Hadi Chandra) ---
  Concordance Set C(Alya Dwi Pangesti,Christian Hadi Chandra): { C1(Komitment), C2(Kepribadian) }
  Concordance Index C_3,2: 0.3
  Discordance Set D(Alya Dwi Pangesti,Christian Hadi Chandra): { C3(Cara Mengajar), C4(Pemahaman Materi) }
  Max Difference in D(Alya Dwi Pangesti,Christian Hadi Chandra): 0.002
  Discordance Index d_3,2: (0.002 / 0.004) = 0.700

--- Pair (Alya Dwi Pangesti vs Dzakanov Inshoofi) ---
  Concordance Set C(Alya Dwi Pangesti,Dzakanov Inshoofi): { C1(Komitment), C2(Kepribadian), C4(Pemahaman Materi) }
  Concordance Index C_3,4: 0.7
  Discordance Set D(Alya Dwi Pangesti,Dzakanov Inshoofi): { C3(Cara Mengajar) }
  Max Difference in D(Alya Dwi Pangesti,Dzakanov Inshoofi): 0.002
  Discordance Index d_3,4: (0.002 / 0.004) = 0.432

--- Pair (Alya Dwi Pangesti vs Sucitasari Rahmadani) ---
  Concordance Set C(Alya Dwi Pangesti,Sucitasari Rahmadani): { C2(Kepribadian), C3(Cara Mengajar), C4(Pemahaman Materi) }
  Concordance Index C_3,5: 0.8
  Discordance Set D(Alya Dwi Pangesti,Sucitasari Rahmadani): { C1(Komitment) }
  Max Difference in D(Alya Dwi Pangesti,Sucitasari Rahmadani): 0.000
  Discordance Index d_3,5: (0.000 / 0.004) = 0.097

--- Pair (Dzakanov Inshoofi vs Saufan Ridho) ---
  Concordance Set C(Dzakanov Inshoofi,Saufan Ridho): { C3(Cara Mengajar), C4(Pemahaman Materi) }
  Concordance Index C_4,1: 0.6
  Discordance Set D(Dzakanov Inshoofi,Saufan Ridho): { C1(Komitment), C2(Kepribadian) }
  Max Difference in D(Dzakanov Inshoofi,Saufan Ridho): 0.002
  Discordance Index d_4,1: (0.002 / 0.004) = 0.602

--- Pair (Dzakanov Inshoofi vs Christian Hadi Chandra) ---
  Concordance Set C(Dzakanov Inshoofi,Christian Hadi Chandra): { C1(Komitment), C3(Cara Mengajar) }
  Concordance Index C_4,2: 0.5
  Discordance Set D(Dzakanov Inshoofi,Christian Hadi Chandra): { C2(Kepribadian), C4(Pemahaman Materi) }
  Max Difference in D(Dzakanov Inshoofi,Christian Hadi Chandra): 0.003
  Discordance Index d_4,2: (0.003 / 0.004) = 0.835

--- Pair (Dzakanov Inshoofi vs Alya Dwi Pangesti) ---
  Concordance Set C(Dzakanov Inshoofi,Alya Dwi Pangesti): { C3(Cara Mengajar) }
  Concordance Index C_4,3: 0.3
  Discordance Set D(Dzakanov Inshoofi,Alya Dwi Pangesti): { C1(Komitment), C2(Kepribadian), C4(Pemahaman Materi) }
  Max Difference in D(Dzakanov Inshoofi,Alya Dwi Pangesti): 0.002
  Discordance Index d_4,3: (0.002 / 0.004) = 0.441

--- Pair (Dzakanov Inshoofi vs Sucitasari Rahmadani) ---
  Concordance Set C(Dzakanov Inshoofi,Sucitasari Rahmadani): { C3(Cara Mengajar), C4(Pemahaman Materi) }
  Concordance Index C_4,5: 0.6
  Discordance Set D(Dzakanov Inshoofi,Sucitasari Rahmadani): { C1(Komitment), C2(Kepribadian) }
  Max Difference in D(Dzakanov Inshoofi,Sucitasari Rahmadani): 0.001
  Discordance Index d_4,5: (0.001 / 0.004) = 0.381

--- Pair (Sucitasari Rahmadani vs Saufan Ridho) ---
  Concordance Set C(Sucitasari Rahmadani,Saufan Ridho): { None }
  Concordance Index C_5,1: 0.0
  Discordance Set D(Sucitasari Rahmadani,Saufan Ridho): { C1(Komitment), C2(Kepribadian), C3(Cara Mengajar), C4(Pemahaman Materi) }
  Max Difference in D(Sucitasari Rahmadani,Saufan Ridho): 0.002
  Discordance Index d_5,1: (0.002 / 0.004) = 0.548

--- Pair (Sucitasari Rahmadani vs Christian Hadi Chandra) ---
  Concordance Set C(Sucitasari Rahmadani,Christian Hadi Chandra): { C1(Komitment), C2(Kepribadian) }
  Concordance Index C_5,2: 0.3
  Discordance Set D(Sucitasari Rahmadani,Christian Hadi Chandra): { C3(Cara Mengajar), C4(Pemahaman Materi) }
  Max Difference in D(Sucitasari Rahmadani,Christian Hadi Chandra): 0.004
  Discordance Index d_5,2: (0.004 / 0.004) = 1.000

--- Pair (Sucitasari Rahmadani vs Alya Dwi Pangesti) ---
  Concordance Set C(Sucitasari Rahmadani,Alya Dwi Pangesti): { C1(Komitment) }
  Concordance Index C_5,3: 0.2
  Discordance Set D(Sucitasari Rahmadani,Alya Dwi Pangesti): { C2(Kepribadian), C3(Cara Mengajar), C4(Pemahaman Materi) }
  Max Difference in D(Sucitasari Rahmadani,Alya Dwi Pangesti): 0.001
  Discordance Index d_5,3: (0.001 / 0.004) = 0.300

--- Pair (Sucitasari Rahmadani vs Dzakanov Inshoofi) ---
  Concordance Set C(Sucitasari Rahmadani,Dzakanov Inshoofi): { C1(Komitment), C2(Kepribadian) }
  Concordance Index C_5,4: 0.3
  Discordance Set D(Sucitasari Rahmadani,Dzakanov Inshoofi): { C3(Cara Mengajar), C4(Pemahaman Materi) }
  Max Difference in D(Sucitasari Rahmadani,Dzakanov Inshoofi): 0.002
  Discordance Index d_5,4: (0.002 / 0.004) = 0.548

Step 5: Threshold Calculation
  Concordance Threshold (c) = Sum(C_kl) / (m*(m-1)) = 10.8 / 20 = 0.542
  Discordance Threshold (d) = Sum(d_kl) / (m*(m-1)) = 8.626 / 20 = 0.4313

Step 6: Dominance Matrices
  Concordance Dominance Matrix (F): C_kl >= 0.542

,Saufan Ridho,Christian Hadi Chandra,Alya Dwi Pangesti,Dzakanov Inshoofi,Sucitasari Rahmadani
Saufan Ridho,0,1,1,1,1
Christian Hadi Chandra,0,0,1,1,1
Alya Dwi Pangesti,0,0,0,1,1
Dzakanov Inshoofi,1,0,0,0,1
Sucitasari Rahmadani,0,0,0,0,0

  Discordance Dominance Matrix (G): d_kl <= 0.4313

,Saufan Ridho,Christian Hadi Chandra,Alya Dwi Pangesti,Dzakanov Inshoofi,Sucitasari Rahmadani
Saufan Ridho,0,0,1,1,1
Christian Hadi Chandra,0,0,1,1,1
Alya Dwi Pangesti,0,0,0,0,1
Dzakanov Inshoofi,0,0,0,0,1
Sucitasari Rahmadani,0,0,1,0,0

Step 7: Aggregate Dominance Matrix (E) = F * G

,Saufan Ridho,Christian Hadi Chandra,Alya Dwi Pangesti,Dzakanov Inshoofi,Sucitasari Rahmadani
Saufan Ridho,0,0,1,1,1
Christian Hadi Chandra,0,0,1,1,1
Alya Dwi Pangesti,0,0,0,0,1
Dzakanov Inshoofi,0,0,0,0,1
Sucitasari Rahmadani,0,0,0,0,0

Step 8: Final Ranking (interpreting E)
  (Ranking based on net dominance score: sum(row E) - sum(col E))
  1. Christian Hadi Chandra
  2. Saufan Ridho
  3. Dzakanov Inshoofi
  4. Alya Dwi Pangesti
  5. Sucitasari Rahmadani